<footer class="footer mt-3">
  <div class="footer-content">
    <div class="logo">
      <span class="brand">🌀 MovieApp</span>
    </div>

    <nav class="footer-links">
      <a routerLink="/">Home</a>
    </nav>

    <div class="social">
      <a href="https://www.facebook.com/" target="_blank"><img src="facebook.png" alt="Facebook"></a>
      <a href="https://www.twitter.com/" target="_blank"><img src="twitter.png" alt="Twitter"></a>
      <a href="https://github.com/KhaledMaherElOtify/MovieApp" target="_blank"><img src="github.png" alt="GitHub"></a>
    </div>
  </div>

  <div class="copyright">
    © {{ currentYear }} MovieApp. All rights reserved.
  </div>
</footer>
