.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.fa-heart {
  transition: all 0.2s ease-in-out;
}

.fa-heart:hover {
  transform: scale(1.1);
}

.badge {
  font-size: 0.7rem;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
