body, :host {
  background: var(--bg-color);
  color: var(--text-color);
}

:host {
  transition: background 0.3s, color 0.3s;
}

.forgot-link {
  color: #6c757d; 
  text-decoration: none;
  cursor: pointer;
}

.forgot-link:hover {
  color: #ffc107; 
  text-decoration: underline;
}
